<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/public/css/demo.css" />
  </head>
  <body>
    <ul>
      {{ $pages := .Pages }}
      {{ range $index, $element := $pages }}
      <li class="first"><a href="{{ $element }}">{{ $index }}</a></li>
      {{end}}
    </ul>
    <h1>{{ .Title }}</h1>
    {{ template "content" .Params }}
  </body>
  <script>
    YUI_config = {
    debug: false,
    combine: false,
    maxURLLength: 2048,
    comboBase: 'c',
    root: '/public/vendor/yui'
    };
  </script>
  <script src="/public/vendor/yui/yui/yui-min.js"></script>
  <script src="/public/js/config/modules.js"></script>
  <script src="/public/js/config/apis.js"></script>
  <script src="/public/js/init.js"></script>
</html>
