<!doctype Html>
<html>
  <head>
    <link rel="stylesheet" href="/public/css/demo.css" />
  </head>
  <body>
    <ul>
      {{ $pages := .Pages }}
      {{ range $index, $element := $pages }}
      <li class="first"><a href="{{ $element }}">{{ $index }}</a></li>
      {{end}}
    </ul>
    <h1>{{ .Title }}</h1>
    {{ template "content" .Params }}
  </body>
  <script src="/public/js/vendor/yui/yui/yui-min.js">
  <script src="/public/js/config/modules.js">
  <script src="/public/js/config/apis.js">
  <script src="/public/js/init.js">
</html>
