[Desktop Entry]
Version=1.0
Name=Ubuntu Personal Store
GenericName=Ubuntu Personal Store
Comment=Snapweb in a WebView
Type=Application
Icon=${SNAP}/meta/gui/icon.png
Exec=ubuntu-personal-store
