.vscode
*.snap
node_modules
parts
prime
stage
yarn
public
ubuntu-personal-store/parts
ubuntu-personal-store/prime
ubuntu-personal-store/stage
ubuntu-personal-store/snapcraft.yaml
ubuntu-personal-store/ubuntu-personal-store.qml
/www/src/css/*.css
.coverage-go
.coverage-js
*~
\#*\#
cert.pem
key.pem

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
Session.vim
.netrwhist
tags
**/*.jar
**/*.zip
**/*.tar.gz
