sudo: required
dist: trusty
language: go
go:
  - 1.5
services: docker

env:
  - TEST_SUITE="--static-go"
  - TEST_SUITE="--static-js"
  - TEST_SUITE="--unit-go"
  - TEST_SUITE="--unit-js"

matrix:
  include:
    - env: BUILD=1
      go: 1.5
      cache: false

cache:
  directories:
    - node_modules

before_install:
  - if [ $encrypted_527ca8567c65_key ]; then ./tests/setup-deploy-key.sh; fi

install:
  - sudo apt remove -y chromium-browser
  - sudo apt-get install -y  google-chrome-stable
  - if [ "$TEST_SUITE" == "--unit-node" ]; then . $HOME/.nvm/nvm.sh && nvm install stable && nvm use stable; fi

script:
  - if [ -z "$BUILD" ]; then sh -v ./run-checks $TEST_SUITE; fi
  - if [ ! -z "$BUILD" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then ./scripts/snap-in-docker.sh; fi
  - if [ ! -z "$BUILD" ] && [ "$TRAVIS_PULL_REQUEST" = "false" ]; then ./tests/setup-and-run-tests.sh $user $host $port; fi

after_success:
  - go get github.com/mattn/goveralls
  - goveralls -coverprofile=.coverage-go/coverage.out -service=travis-ci
  - npm install coveralls
  - cat .coverage-js/report-lcov/lcov.info | ./node_modules/coveralls/bin/coveralls.js
