<div class="services">
  <p class="pkg-name"><%= this.name %></h1>
  <p class="version">Ver. <%= this.version %>
  <p>
  <% if (this.description && this.description.length) { %>
  <%= this.description %>
  <% } else { %>
    This package has no description.
  <% } %>
  <div class="services">
    <% if (this.services && this.services.length) { %>
    <p>Services</p>
    <% Y.Array.each(this.services, function (service) { %>
    <% if (service.status === 'active') { %>
    <div class="switch">
      <label for="<%= service.name %>" class="tt-w" data-tt="Click to deactivate service"><%= service.name %> <%= service.status %></label>
      <input data-pkg="<%= this.name %>" checked type="checkbox" id="<%= service.name %>" />
      <div class="thing"></div>
    </div>
    <% } else { %>
    <div class="switch">
      <label for="<%= service.name %>" class="tt-w" data-tt="Click to deactivate service"><%= service.name %> <%= service.status %></label>
      <input type="checkbox" id="<%= service.name %>" />
      <div class="thing"></div>
    </div>
    <% } %>
    <% }, this); %>
    <% } else { %>
      <p>This package has no services.
    <% } %>
  </div>
</div>
