<div class="services-pkg" data-pkg="<%= this.name %>">
  <h1 class="pkg-name"><%= this.name %> <%= this.version %>
  <a class="pkg-show" href="<%= this.url %>" target="_blank">SHOW</a>
  </h1>
  <p>
  <% if (this.description && this.description.length) { %>
  <%= this.description %>
  <% } else { %>
    This package has no description.
  <% } %>
  <div class="install">
    <div class="switch">
      <fieldset>
      <label for="<%= this.name %>" class="tt-w" data-tt="Click to remove">Installed</label>
      <input type="checkbox" checked id="<%= this.name %>" />
      <div class="thing"></div>
      </fieldset>
    </div>
  </div>
  <div class="services">
    <% if (this.services && this.services.length) { %>
    <h2>Manage Services</h2>
    <table>
    <% Y.Array.each(this.services, function (service) { %>
    <div class="service-row">
      <div class="service-name"><%= service.name %></div>
      <% if (service.status === 'active') { %>
      <div class="service-action">
        <div class="switch" data-service="<%= service.name %>">
          <fieldset>
          <label for="service-<%= service.name %>" class="tt-w" data-tt="Click to deactivate service"><%= service.status %></label>
          <input data-pkg="<%= this.name %>" checked type="checkbox" id="service-<%= service.name %>" />
          <div class="thing"></div>
          </fieldset>
        </div>
      </div>
      <% } else if (service.status) { %>
      <div>
        <div class="switch">
          <label for="<%= service.name %>" class="tt-w" data-tt="Click to deactivate service"><%= service.name %> <%= service.status %></label>
          <input type="checkbox" id="<%= service.name %>" />
          <div class="thing"></div>
        </div>
      </div>
      <% } %>
    </div>
    <% }, this); %>
    </table>
    <% } else { %>
      <p>This package has no services.
    <% } %>
  </div>
</div>
