<div class="row strip-trans">
  <div class="inner-wrapper">
    <h1>System settings</h1>
    <main class="eight-col box append-four">
    <h2>{{ name }}</h2>
    <div class="region-system-settings"></div>
    </main>
  </div>
</div>
<div class="row">
  <div class="inner-wrapper">
    <section id="apps" class="region-installed"></section>
  </div>
</div>
