.b-snaplist {
}

.b-snaplist__item {
  cursor: pointer;
}

/** grid style **/

.b-snaplist--grid {
  display:flex;
  flex-wrap: wrap;
}

.b-snaplist--grid .b-snaplist__item {
  flex: 0 1 20%;
  padding:10px;
}

.b-snaplist--grid .b-snaplist__icon {
}

.b-snaplist--grid .b-snaplist__icon img {
  background-color:#fff;
  border-radius:15%;
  width:100%;
}

.b-snaplist--grid .b-snaplist__label {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-snaplist--grid .b-snaplist__label ~ * {
  display:none;
}

/** row style **/

.b-snaplist--row .b-snaplist__item {
  width:100%;
  display:flex;
  align-items:center;
  padding:0.6em;
  border-radius:4px;
  margin-bottom:0.6em;
  background-color:#fff;
}

.b-snaplist--row .b-snaplist__item:last-child {
  margin-bottom:0;
}

.b-snaplist--row .b-snaplist__icon {
  flex:0 0 40px;
}

.b-snaplist--row .b-snaplist__icon img {
  display:block;
  width: 40px;
  height: 40px;
}

.b-snaplist--row .b-snaplist__label,
.b-snaplist--row .b-snaplist__author,
.b-snaplist--row .b-snaplist__title {
  flex:2;
  margin:0 1em;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-snaplist--row .b-snaplist__title {
  flex:4 1;
}

.b-snaplist--row .b-snaplist__install {
  flex:3;
  margin:0 1em;
}

/**

.b-snaplist__item a,
.b-snaplist__item a:link,
.b-snaplist__item a:hover,
.b-snaplist__item a:visited {
    color: #333333;
}

.b-snaplist__snap-icon {
    text-align:center;
}

.b-snaplist__snap-icon img {
  border-radius:5%;
}

.b-snaplist__snap-icon:hover {
    background: #efefef;
}

.b-snaplist__snap-label {
    font-weight: 400;
    text-align: center;
    display: block;
    cursor: pointer;
    font-size: 1em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

**/
