<div class="row strip-trans">
    <div class="inner-wrapper">
        <h1>System settings</h1>
        <main class="eight-col box append-four">
            <h2><%= this.system.device_name %></h2>
            <ul class="list">
                <li><strong>Current build:</strong> <%= this.system.current_build_number %></li>
                <li><strong>Last updated:</strong> <%= this.system.last_update_date %></li>
                <li><strong>Last checked:</strong> <%= this.system.last_check_date %></li>
                <li><strong>Channel:</strong> <%= this.system.channel_name %></li>
                <li><strong>Target build number:</strong> <%= this.system.target_build_number %></li>
            </ul>
        </main>
    </div>
</div>
<div class="row">
<div class="inner-wrapper">
        <section id="apps">
            <% if (this.apps.length == 0) { %>
            <div class="one-col">
                <img src="/public/images/picto-upload-warmgrey.png" alt="Get some apps here" />
            </div>
            <div class="ten-col last-col header--get-apps">
                <h1>No apps installed</h1>
                <p><a href="/store">Visit the store to get some &rsaquo;</a></p>
            </div>
            <% } else { %>
            <h2>Installed app settings</h2>
            <ul class="list--apps">
                <% for (var index = 0; index < this.apps.length; index++) { %>
                <% var app = this.apps[index] %>
                <li class="two-col <% if (index % 6 == 5) { %>last-col<% } %>">
                <a href="<%= app.url %>" class="link--app">
                        <img
                            src="<%= YUI.Env.iot.icons[app.name] || '/public/images/app-placeholder.svg' %>"
                            alt="<%= app.name %> icon"
                            class="icon--app-icon"
                        />
                        <label class="label--app-name"><%= app.name %></label>
                    </a>
                </li>
                <% } %>
            </ul>
            <% } %>
        </section>
    <div class="inner-wrapper">
</div>
