{{#if isInstalled}}

{{#unless isCoreSnap}}

{{#if isEnabled}}

  <div class="b-enabler">
    <button class="b-enabler__button p-button--neutral">Disable</button>
  </div>

{{else}}

  <div class="b-enabler">
    <button class="b-enabler__button p-button--neutral">Enable</button>
  </div>

{{/if}}

{{/unless}}

{{/if}}
