<div class="b-grey-wrapper">
  <div class="inner-wrapper p-strip--light" style="padding-bottom: 5em">

    {{#if title}}
    <div class="row">
      <h2 class="col-6">{{ title }}</h2>
    </div>
    {{/if}}

    <div class="region-installed"></div>

    <div class="row">
      <h2 class="col-6">System</h2>
    </div>

    <div class="row" style="magin-bottom: 3em">
        <div style="background: #fff" class="col-12 region-system-snaps"></div>
    </div>

  </div>
</div>
