<div class="b-grey-wrapper">
  <div class="inner-wrapper">

    {{#if title}}
    <div class="row">
      <h2 class="col-6">{{ title }}</h2>
    </div>
    {{/if}}
             
    <div class="region-installed"></div>

  </div>
</div>
