<div class="b-layout__container">
  <div class="b-banner__brand">
    <div class="b-banner__nav-item{{#if isHomeActive }} b-banner__nav-item_active{{/if}}">
      <a href="/">
        <img src="/public/images/cof.svg" height="24" width="24">
        <span>{{ name }} {{ subname }}</span>
      </a>
    </div>
  </div>
  <div class="b-banner__primary-nav">
    <div class="b-banner__nav-item{{#if isStoreActive }} b-banner__nav-item_active{{/if}}">
      <a href="/store">
        Snappy store
      </a>
    </div>
  </div>
  <!--
  <div class="b-banner__search">
    <form class="b-banner__form" action="/search" method="GET">
      <input class="b-banner__input" type="search" name="q" placeholder="Search for snaps" value="{{ query }}">
      <div class="b-banner__nav-item{{#if isSearchActive }} b-banner__nav-item_active{{/if}}">
        <button type="submit" class="b-banner__submit"></button>
      </div>
    </form>
  </div>
  <div class="b-banner__secondary-nav">
    <div class="b-banner__nav-item{{#if isSystemActive }} b-banner__nav-item_active{{/if}}">
      <a href="/system-settings">
        <img src="/public/images/settings.svg" height="30" width="30">
      </a>
    </div>
  </div>
  -->
</div>
