<div class="inner-wrapper">
  <div class="twelve-col last-col">
    <div class="b-layout__container">
      <div class="b-infobar__datetime">
        {{datetime}}
      </div>
    </div>
  </div>
</div>
