<div class="b-banner__brand">
  <img src="/public/images/cof.svg" height="30" width="30">
</div>
<div class="b-banner__title">
  {{ title }}
</div>
<div class="b-banner__primary-nav">
  <div class="b-banner__nav-item">
    Store
  </div>
</div>
<div class="b-banner__search">
  <input type="search" placeholder="Search for snaps">
</div>
<div class="b-banner__secondary-nav">
  <div class="b-banner__nav-item">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="285px" height="285px" viewBox="0 0 285 285" enable-background="new 0 0 285 285" xml:space="preserve">
    <style>.s0{fill: #FFFFFF;}</style>
    <path d="M266 165h18.3l0-45l-18.3 0c-1.2-6.8-3-13.4-5.3-19.7l15.8-9.1l-22.5-39l-15.9 9.2 c-4.4-5.2-9.2-10-14.4-14.4l9.2-15.9l-39-22.5l-9.1 15.8c-6.4-2.3-13-4.1-19.7-5.3V0.8h-45V19c-6.8 1.2-13.4 3-19.7 5.3L91.1 8.5 L52.1 31l9.2 15.9c-5.2 4.4-10 9.2-14.4 14.4L31 52.1l-22.5 39l15.8 9.1c-2.3 6.4-4.1 13-5.3 19.7H0.8l0 45l18.3 0 c1.2 6.8 3 13.4 5.3 19.7l-15.8 9.1l22.5 39l15.9-9.2c4.4 5.2 9.2 10 14.4 14.4L52.1 254l39 22.5l9.1-15.8c6.4 2.3 13 4.1 19.7 5.3 v18.3l45 0l0-18.3c6.8-1.2 13.4-3 19.7-5.3l9.1 15.8l39-22.5l-9.2-15.9c5.2-4.4 10-9.2 14.4-14.4l15.9 9.2l22.5-39l-15.8-9.1 C262.9 178.4 264.7 171.8 266 165z M142.5 227.5c-46.9 0-85-38.1-85-85c0-46.9 38.1-85 85-85c46.9 0 85 38.1 85 85 C227.5 189.4 189.4 227.5 142.5 227.5z" class="s0">
    </path>
    </svg>
  </div>
</div>
