<div class="row">
  <div class="inner-wrapper">
    <div class="col-10 suffix-1">

      <div class="row">
        <h2>One account to log in everything on Ubuntu</h2>
      </div>
      
      <form>
        
        <fieldset>
          <div class="row">
            <div class="col-6">
              <input type="email" id="email" placeholder="Your email address"/>
            </div>
          </div>
          
          <div class="row">
            <div class="col-6">
              <input type="password" id="password" placeholder="Password">
            </div>
          </div>
          
          <div class="row">
            <div class="col-6">
              <input type="number" id="otp" placeholder="One Time Password">
            </div>
          </div>
          
          <div class="row">
            <div class="col-6">
              <button id="login" type="submit" class="p-button--neutral">Login</button>
            </div>
          </div>
          
        </fieldset>
        
      </form>
      
      <label class="statusmessage" style="display: inline-block; margin-left: 1em">
      </label>

    </div>
  </div>
</div>
