<div class="u-notifications-container">
  <span class="u-notifications-message">
    {{ message }}
  </span >
  <span class="u-notifications-close">
    <a class="u-notifications-link" href="#">✕</a>
  </span>
</div>
