<div class="inner-wrapper">

  <div class="region-search-bar">
  </div>

  <div class="region-matched-snap-result">
  </div>

  <div class="region-results" style="margin-bottom: 3em">
  </div>

</div>

