  <div class="inner-wrapper">

    <div class="region-search-bar" style="display: inline-block; width: 100%; margin-top: 20px;">
    </div>

    <div style="margin: 10px 10px">
      <h2 class="b-headline__h2 nine-col">{{ title }}</h2>
    </div>

    <div class="region-matched-snap-result">
    </div>

    <div class="region-store-header">
    </div>

    <div class="region-results">
    </div>

  </div>

