<div class="row">
    <div class="col-12">
        <div class="row">
          <div class"col-9" style="font-size:2.25rem;">Updates</div>
          <div class="col-3">
            <button id="updates-update-all" class="p-button--positive">Update All</button>
          </div>
        </div>
        <div class="row">
          <div id="available-table-container" class="eight-col"></div>
        </div>
    </div>

    <div class="col-12">
      <h2>History</h2>
      <div id="history-table-container" class="eight-col"></div>
    </div>
</div>

