<table style="overflow-x: scroll; margin-bottom: 20px; margin: 0 0 2.5em; width:100%">
  <thead style="border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: grey;">
    <tr>
      <th style="font-weight: 300; text-align: left; padding: 5px;" scope="col">Name</th>
      <th style="font-weight: 300; text-align: left; padding: 5px;" scope="col">Version</th>
      <th style="font-weight: 300; text-align: left; padding: 5px;" scope="col">Last updated</th>
      <th style="font-weight: 300; text-align: left; padding: 5px;" scope="col"></th>
    </tr>
  </thead>
  <tbody id="settings-update-table">
  </tbody>
</table>
