<div class="row">
    <div class="col-12">
        <h2>Profile</h2>
    </div>
</div>

{{#if email}}

<div class="row">
  <div class="col-2"></div>

  <div class="col-6">
    <div class="col-3">
    </div>

    <div class="col-9">
      <ul class="p-list--divided">
        <li class="p-list__item">{{ name }}</li>
        <li class="p-list__item">{{ email }}</li>
      </ul>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-4">
    <a href="#" type="p-button--neutral" name="">Edit account</a>
  </div>
  <div class="col-8">
    <a href="/logout" type="p-button--neutral" name="">Logout</a>
  </div>
</div>

{{else}}

<div class="row">
  <div class="col-12">
    You are currently not logged in. Please login to edit your profile information.
  </div>
</div>

<div class="row">
  <div class="col-12">
    <a href="/login" type="p-button--neutral" name="">Login</a>
  </div>
</div>

{{/if}}
