<div class="row">
    <div class="col-12">
        <h2>Updates</h2>
        <div class="col-2 last-col">
          <button id="updates-update-all" class="button--primary">Update All</button>
        </div>

        <div id="available-table-container" class="eight-col"></div>
    </div>

    <div class="col-12">
      <h2>History</h2>
      <div id="history-table-container" class="eight-col"></div>
    </div>
</div>

