<div class="row">
    <div class="col-12">
        <h2>Profile</h2>
    </div>
</div>

{{#if isAuthenticated}}

<div class="row">
  <div class="col-1 u-vertically-center" style="height: 5em">
    {{{ avatar }}}
  </div>

  <div class="col-6">
    <div class="col-9">
      <ul class="p-list--divided">
        <li class="p-list__item">{{ name }}</li>
        <li class="p-list__item"><small>{{ email }}<small></li>
      </ul>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-3">
    <a href="https://login.ubuntu.com/" class="p-link--external p-button--neutral" target="_blank" name="">Edit account</a>
  </div>
  <div class="col-3">
    <a href="/api/v2/user-logout" class="p-button--neutral" name="">Logout</a>
  </div>
</div>

{{else}}

<div class="row">
  <div class="col-12">
    You are currently not logged in. Please login using the 'snap' command line tool.
  </div>
</div>

{{/if}}
