<div class="b-grey-wrapper">
  <div class="inner-wrapper">
    {{#if title}}
    <div class="b-headline twelve-col last-col">
      <h2 class="b-headline__h2 left">{{ title }}</h2>
      {{#if isHomeActive}}
      <a class="b-headline__store-link button--primary right" href="/store">Browse store</a>
      {{/if}}
      <div class="b-snaplist__actions">
        {{#if canSort}}
        <div class="b-button__group">
          <div id="sortAlpha" class="b-button b-button_small{{#if isAlpha}} b-button_active{{/if}}">A-Z</div>
          <div id="sortBytes" class="b-button b-button_small{{#unless isAlpha}} b-button_active{{/unless}}">kB</div>
        </div>
        {{/if}}
        {{#if canStyle}}
        <div class="b-button__group">
          <div id="styleGrid" class="b-button b-button_small{{#if isGrid}} b-button_active{{/if}}">Grid</div>
          <div id="styleRow" class="b-button b-button_small{{#unless isGrid}} b-button_active{{/unless}}">Row</div>
        </div>
        {{/if}}
      </div>
    </div>
    {{/if}}
    <div class="twelve-col last-col">
      <div class="b-snaplist b-snaplist_{{#if isGrid}}grid{{else}}row{{/if}}">
      </div>
    </div>
  </div>
</div>
