<!-- TODO if snap launchable -->
<a href="/snap/{{ name }}/">
  <img class="icon--app-icon" src="{{ icon }}" class="icon--app-icon" alt="{{ name }} icon" />
  <p class="label--app-name">{{ name }}</p>
</a>
