<div class="p-strip--light">
        <div class="row">
            <div id="js-snaplist" class="p-card-deck">

                <div class="card-deck-row-header">
                    <div class="card-deck-row-header__item">
                        Name
                    </div>
                    <div class="card-deck-row-header__item">
                        Publisher
                    </div>
                    <div class="card-deck-row-header__item">
                    </div>
                </div>

            </div>
        </div>
</div>
