<div class="b-layout__container">
  <a class="b-snap__nav-item" href="details">
    Details
  </a>
  <a class="b-snap__nav-item" href="reviews">
    Reviews
  </a>
  <a class="b-snap__nav-item" href="settings">
    Settings
  </a>
  {{#if vendorGuiHref}}
  <a class="b-snap__nav-item" href="{{vendorGuiHref}}" target="_blank">
    Open / Manage
  </a>
  {{/if}}
</div>
