{{#if description}}
<p>{{ description }}</p>
{{/if}}
{{#if prettyInstalledSize}}
<p>Installed size: {{prettyInstalledSize}}</p>
{{/if}}
{{#if prettyDownloadSize}}
<p>Download size: {{prettyDownloadSize}}</p>
{{/if}}
