<div class="b-grey-wrapper">
  <div class="inner-wrapper">

    <div class="region-search-bar" style="display: inline-block; width: 100%; margin-top: 20px;">
    </div>

    <div class="region-store-header">
{{#if title}}
      <h2 class="b-headline__h2 nine-col">{{ title }}</h2>
{{/if}}
    </div>

    <div class="region-snaplist">
    </div>

  </div>
</div>