<img class="b-icon" src="{{ icon }}" width="90" height="90">
<div class="b-snaplist__id">
  <div class="b-snaplist__name">{{ name }}</div>
  <div class="b-snaplist__version">{{ version }}</div>
</div>
<div class="b-snaplist__src">
  <div class="b-snaplist__developer">{{ developer }}</div>
</div>
<div class="b-snaplist__actions">
  {{> installer}}
</div>
