<div class="b-grey-wrapper">
  <div class="inner-wrapper">

    <div class="region-search-bar" style="display: inline-block; width: 100%; margin-top: 20px;">
    </div>

    <div class="region-store-header">
    </div>

    <div class="region-snaplist">
    </div>

  </div>
</div>