<table>
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Publisher</th>
      <th scope="col">Category</th>
    </tr>
  </thead>

  <tbody id="systems-snap-list">
  </tbody>

</table>
