<div class="row row-hero strip-trans">
    <div class="inner-wrapper">
        <section id="apps">
            <% if (this.length === 0) { %>
            <div class="one-col">
                <img src="/public/images/picto-upload-warmgrey.png" alt="Get some apps here" />
            </div>
            <div class="ten-col last-col header--get-apps">
                <h1>No apps installed</h1>
                <p><a href="/store">Visit the store to get some &rsaquo;</a></p>
            </div>
            <% } else { %>
            <h1>Installed apps</h1>
            <ul class="list--apps">
              <% Y.Array.each(this, function(app, index) { %>
                <li class="three-col <% if (index % 4 === 3) { %>last-col<% } %>">
                    <a href="<%= app.url %>/settings" class="link--app"
                        <% if (app.launchable) { %> target="_blank" <% } %>
                    >
                    <img src="/icons/<%= app.name %>.png"
                            alt="<%= app.name %> icon"
                            class="icon--app-icon"
                        />
                        <p class="label--app-name"><%= app.title %></p>
                    </a>
                </li>
                <% }); %>
            </ul>
            <% } %>
        </section>
    </div>
</div>
