@mixin p-card {

  .p-card {
    margin: 0 .5rem .5rem;
    padding-bottom: 5rem;
    position: relative;

    &__title {

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    &__icon {
      margin: .5rem auto 1.5rem;
      display: block;
    }

    &__footer {
      border-top: 1px solid $color-mid-light;
      margin-top: 1rem;
      padding: 1rem;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
    }
  }
}
