/** @define b-banner; weak */

.b-banner {
}

.b-banner__primary-nav {
  float:left;
  margin:0 0 0 5px;
}

.b-banner__nav-item-icon {
  width:25px;
  height:25px;
  position:relative;
  top:5px;
  margin-top:1px;
}

.b-banner__nav-item-link {
  box-sizing:initial;
}

.b-banner__nav-item-link.active {
  height:29px;
}

.b-banner__nav-item-label {
  display:none;
}

@media screen and (min-width: 640px) {
  .b-banner__nav-item-icon {
    display:none;
  }

  .b-banner__primary-nav {
    margin:0;
  }

  .b-banner__nav-item-link.active {
    height:18px;
  }
}
