/** @define b-branding-header; weak */

.b-branding-header {
  margin:20px 10px;
  cursor: pointer;
  position:relative;
  width:100%;
  display:flex;
  align-items:center;
  border-bottom:1px solid #ccc;
}

.b-branding-header__name,
.b-branding-header__subname,
.b-branding-header__link {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (min-width: 640px) {
    /* TODO */
}
