/** @define b-headline; weak */

.b-headline {
  margin-top:20px;
  padding:0 10px;
}

.b-headline .b-headline__store-link {
  width:auto;
  text-decoration:none;
  margin-right:10px;
}

.b-headline__search-button {
  background:none;
  position:absolute;
  top:6px;
  right:9px;
  padding:0;
  width:auto;
}

.b-headline__search-button:hover {
  background-color:transparent;
}

@media screen and (min-width: 640px) {
  .b-headline {
    padding:0 15px;
  }
}
