/** @define b-headline; weak */

.b-headline {
  margin-top:20px;
}

.b-headline__h2 {
  margin:0 0 0 10px
}

.b-headline .b-headline__store-link {
  width:auto;
  text-decoration:none;
  margin-right:10px;
}

@media screen and (min-width: 640px) {
  .b-headline__h2 {
    margin-left:15px;
  }

  .b-headline .b-headline__store-link {
    margin-right:15px;
  }
}
