.icon--get-apps {
    margin: 0 2em;
}
.header--get-apps {
    float: left;
}
.icon--app-icon {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    border: 5px solid #EFEFEF;
    border-radius: 20px;
}
.list--apps {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}
.list--apps li {
    padding: 0 20px;
    margin-bottom: 40px;
}
.label--app-name {
    font-weight: 400;
    text-align: center;
    display: block;
    cursor: pointer;
}
.link--app,
.link--app:link,
.link--app:hover,
.link--app:visited {
    color: #333333;
}
