/** @define b-infobar; weak */

.b-infobar {
  padding: 6px 0 0;
  font-size: 12px;
}

.b-infobar .b-layout__container {
  display:flex;
  justify-content:flex-end;
}

.b-infobar__datetime {
  margin-right:10px;
}

@media screen and (min-width: 640px) {
  .b-infobar__datetime {
    margin-right:15px;
  }
}
