/** @define b-installer; weak */

.b-installer {
  position:relative;
}

.b-installer__button {
  width:140px;
}

.b-installer__button_large {
  width:100%;
}

.b-installer__button_store {
  float:right;
  width:40%;
}

.b-installer_disabled .b-installer__button {
  background-color:#f7f7f7;
  cursor:not-allowed;
}

.b-installer_thinking .b-installer__button {
  cursor:progress;
}
