/** @define b-installer; weak */

.b-installer {
}

.b-installer_small {
  float:right;
  width:50%;
}

.b-installer__button {
  width:100%;
  box-sizing:border-box;
}

.b-installer_disabled .b-installer__button {
  background-color:#f7f7f7;
  cursor:not-allowed;
}

.b-installer_thinking .b-installer__button {
  cursor:progress;
}
