/** @define b-layout; weak */

.b-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.b-layout__banner {
}

.b-layout__main {
  flex: 1;
  position:relative;
}

.b-layout__main:empty::before {
  content:"";
  position:absolute;
  top:50%;
  left:50%;
  width:128px;
  height:128px;
  margin:-64px 0 0 -64px;
  background:transparent url("/public/images/cof.svg") 50% 50% no-repeat;
  background-size: 100% 100%;
  animation: rotate 3s linear infinite;
}

.b-layout__main:empty + .b-layout__footer {
  display:none;
}

.b-layout__alerts {
  position: absolute;
  top: 30px;
  width: 100%;
  z-index: 10000;
}

.b-layout__container {
  width:312px;
  margin:0 auto;
}
