.b-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.b-layout__banner {
}

.b-layout__main {
  flex: 1;
  padding:0 3em;
}

.b-layout__main:empty {
  opacity:0.5;
  background:transparent url("/public/images/default-package-icon.svg") 50% 50% no-repeat;
}

.b-layout__main:empty + .b-layout__footer {
  display:none;
}

.b-layout__footer {
  padding:2em 0;
  text-align:center;
  font-size:12px;
  color:#999;
}
