html, body {
  height: 100%;
  margin:0;
}

.layout-columns {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.layout-body {
  display: flex;
  flex: 1;
}

.layout-app-container {
  flex: 1;
}
.layout-app-container > div {
  display: flex;
}

.layout-content {
  flex: 1;
  padding: 0 5px;
}

.layout-content > div {
  margin:5px;
  border-top: 1px solid transparent;
}

.layout-content > .icon-list {
  margin-top:0;
}

.layout-nav-proto, .layout-nav-deutero, .layout-aside-data {
  flex: 0 0 160px;
  padding: 0 5px;
}

.layout-nav-proto {
  order: -2;
}
.layout-nav-deutero {
  order: -1;
}
.layout-aside-data {
}

header {
  height:54px;
  display:flex;
  background-color:#dd4814;
  margin:0 0 2em 0;
}

.header-brand {
  display:flex;
  width:200px;
  padding:13px;
  font-size:18px;
  color:white;
}

.logo {
  flex:0 0 36px;
}

.logotype {
  flex:1;
}
