/** @define b-snaplist; weak */

.b-snaplist {
}

.b-snaplist__item {
  cursor: pointer;
}

.b-snaplist__icon {
  position:relative;
}

.b-snaplist__icon::before {
  content: "";
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:transparent;
  background-image:url(/public/images/icon-mask.png);
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size:100% 100%;
}

.b-snaplist__icon img {
  display:block;
  background-color:transparent;
  background-image:url(/public/images/default-package-icon.svg);
  background-repeat:no-repeat;
  background-position:50% 50%;
  background-size:100% 100%;
}

/** grid style **/

.b-snaplist_grid {
  width:312px;
  margin:0 auto;
  display:flex;
  flex-wrap: wrap;
}

.b-snaplist_grid .b-snaplist__item {
  flex: 0 1 auto;
  padding:7px;
}

.b-snaplist_grid .b-snaplist__name {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:12px;
  color:#999;
  margin-top:4px;
}

.b-snaplist_grid .b-snaplist__name,
.b-snaplist_grid .b-snaplist__icon img {
  width:90px;
}

.b-snaplist_grid .b-snaplist__name ~ * {
  display:none;
}

@media (min-width:424px) {
  .b-snaplist_grid {
    width:424px;
  }
  .b-snaplist_grid .b-snaplist__item {
    padding:8px;
  }
}

@media (min-width:540px) {
  .b-snaplist_grid {
    width:540px;
  }
  .b-snaplist_grid .b-snaplist__item {
    padding:9px;
  }
}

@media (min-width:660px) {
  .b-snaplist_grid {
    width:660px;
  }
  .b-snaplist_grid .b-snaplist__item {
    padding:10px;
  }
}

@media (min-width:770px) {
  .b-snaplist_grid {
    width:770px;
  }
}

@media (min-width:880px) {
  .b-snaplist_grid {
    width:880px;
  }
}

@media (min-width:990px) {
  .b-snaplist_grid {
    width:990px;
  }
}

@media (min-width:1100px) {
  .b-snaplist_grid {
    width:1100px;
  }
}

@media (min-width:1210px) {
  .b-snaplist_grid {
    width:1210px;
  }
}

@media (min-width:1320px) {
  .b-snaplist_grid {
    width:1320px;
  }
}

@media (min-width:1430px) {
  .b-snaplist_grid {
    width:1430px;
  }
}

@media (min-width:1540px) {
  .b-snaplist_grid {
    width:1540px;
  }
}

/** row style **/

.b-snaplist_row {
  margin:3em;
}

.b-snaplist_row .b-snaplist__item {
  width:100%;
  display:flex;
  align-items:center;
  padding:0.6em;
  border-radius:4px;
  margin-bottom:0.6em;
  background-color:#fff;
}

.b-snaplist_row .b-snaplist__item:last-child {
  margin-bottom:0;
}


.b-snaplist_row .b-snaplist__icon {
  flex:0 0 40px;
}

.b-snaplist_row .b-snaplist__icon::before {
  background-image: url(/public/images/icon-mask-on-white.png);
}

.b-snaplist_row .b-snaplist__icon img {
  display:block;
  width: 40px;
  height: 40px;
}

.b-snaplist_row .b-snaplist__name,
.b-snaplist_row .b-snaplist__version,
.b-snaplist_row .b-snaplist__type,
.b-snaplist_row .b-snaplist__origin {
  flex:1 1;
  margin:0 1em;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-snaplist_row .b-snaplist__version {
  min-width:100px;
}

.b-snaplist_row .b-snaplist__type {
  text-align:center;
}

.b-snaplist_row .b-snaplist__actions {
}

.b-snaplist_row .b-installer__message {
  /** XXX hmm **/
  display:none;
}
