/** @define b-snaplist; weak */

.b-snaplist {
  margin:0 3px;
}

.b-snaplist__item {
  cursor: pointer;
}

.b-snaplist__actions {
  display:flex;
  font-size: 11px;
  justify-content: flex-end;
  margin-right:10px;
}

/** grid style **/

.b-snaplist_grid {
  display:flex;
  flex-wrap: wrap;
}

.b-snaplist_grid .b-snaplist__item {
  flex: 0 1 auto;
  padding:7px;
  font-size:0;
}

.b-snaplist_grid .b-snaplist__item * {
  font-size: 12px;
  color:#999;
  text-align: center;
}

.b-snaplist_grid .b-snaplist__name {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top:4px;
}

.b-snaplist_grid .b-snaplist__name,
.b-snaplist_grid .b-icon img {
  width:90px;
}

.b-snaplist :not(.b-snaplist__item-app) .b-icon::after {
  content: attr(data-type);
  position:absolute;
  width:100%;
  bottom:0;
  left:0;
  right:0;
  background: rgba(221,72,20,0.8);
  color:#fff;
  z-index:0;
  padding:3px 0 5px;
  text-transform:uppercase;
  font-size:10px;
}

.b-snaplist_grid .b-snaplist__version,
.b-snaplist_grid .b-snaplist__type,
.b-snaplist_grid .b-snaplist__developer,
.b-snaplist_grid .b-snaplist__actions {
  display:none;
}

/** row style **/

.b-snaplist_row {
}

.b-snaplist_row .b-snaplist__item {
  position:relative;
  width:100%;
  display:flex;
  align-items:center;
  padding:8px 10px;
  font-size:13px;
  border-top:1px solid #ddd;
}

.b-snaplist_row .b-snaplist__type {
}

.b-snaplist_row .b-snaplist__item:nth-of-type(2n+1) {
}

.b-snaplist_row .b-snaplist__item:last-child {
  margin-bottom:0;
  border-bottom:1px solid #ddd;
}


.b-snaplist_row .b-icon {
  flex:0 0 60px;
}

.b-snaplist_row .b-icon img {
  display:block;
  width: 60px;
  height: 60px;
}

.b-snaplist_row :not(.b-snaplist__item-app) .b-icon::after {
  font-size:9px;
  width:60px;
  text-align:center;
  padding: 1px 0 3px 0;
}

.b-snaplist_row .b-snaplist__name,
.b-snaplist_row .b-snaplist__version,
.b-snaplist_row .b-snaplist__developer,
.b-snaplist_row .b-snaplist__size {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-snaplist_row .b-snaplist__id,
.b-snaplist_row .b-snaplist__src,
.b-snaplist_row .b-snaplist__size {
  margin:0 10px;
}

.b-snaplist_row .b-snaplist__id,
.b-snaplist_row .b-snaplist__src {
  flex:2;
}

.b-snaplist_row .b-snaplist__size {
  flex:1;
}

.b-snaplist_row .b-snaplist__src,
.b-snaplist_row .b-snaplist__size {
  display:none;
}

.b-snaplist_row .b-snaplist__developer
.b-snaplist_row .b-snaplist__developer {
  text-transform: capitalize;
}

.b-snaplist_row .b-installer__message {
  display:none;
}

@media screen and (min-width: 640px) {
  .b-snaplist {
    margin:0 8px;
  }

  .b-snaplist__actions {
    margin-right:15px;
  }
}
