.b-snap {
}

.b-snap__icon {
}

.b-snap__banner {
  display: flex;
  line-height:1.3;
  padding:1.3em 0.3em 1.3em;
  margin:0 0 1.3em 0;
  border-bottom:1px solid #ddd;
  align-items: center;
}

.b-snap__meta {
  flex: 2;
}

.b-snap__meta > * {
  margin:0;
}

.b-snap__actions {
  display:flex;
  flex: 1;
}

.b-snap__actions .b-installer {
  margin-left:auto;
}

.b-snap__tab {
  flex: 1;
}
