.b-snaplist {
}

.b-snaplist__item {
  cursor: pointer;
}

/** grid style **/

.b-snaplist--grid {
  display:flex;
  flex-wrap: wrap;
}

.b-snaplist--grid .b-snaplist__item {
  flex: 0 1 20%;
  padding:10px;
}

.b-snaplist--grid .b-snaplist__icon {
}

.b-snaplist--grid .b-snaplist__icon img {
  border-radius:15%;
  width:100%;
}

.b-snaplist--grid .b-snaplist__name {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-snaplist--grid .b-snaplist__name ~ * {
  display:none;
}

/** row style **/

.b-snaplist--row .b-snaplist__item {
  width:100%;
  display:flex;
  align-items:center;
  padding:0.6em;
  border-radius:4px;
  margin-bottom:0.6em;
  background-color:#fff;
}

.b-snaplist--row .b-snaplist__item:last-child {
  margin-bottom:0;
}

.b-snaplist--row .b-snaplist__icon {
  flex:0 0 40px;
}

.b-snaplist--row .b-snaplist__icon img {
  display:block;
  width: 40px;
  height: 40px;
}

.b-snaplist--row .b-snaplist__name,
.b-snaplist--row .b-snaplist__type,
.b-snaplist--row .b-snaplist__origin {
  flex:1 1;
  margin:0 1em;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.b-snaplist--row .b-snaplist__version {
  min-width:100px;
}

.b-snaplist--row .b-snaplist__type {
  text-align:center;
}

.b-snaplist--row .b-installer__message {
  /** XXX hmm **/
  display:none;
}
