/** @define b-snap; weak */

.b-snap {
}

.b-snap .b-icon {
}

.b-icon-wrapper {
  margin-left:10px;
}

.b-snap__banner {
  padding-top:20px;
  margin-bottom:0;
}

.b-snap__meta {
  margin-left:10px;
}

.b-snap__title {
  margin-bottom:0.25em;
}

.b-snap__developer {
  color:#B3B3B3;
}

.b-snap__actions {
  flex: 1;
}

.b-snap__actions .b-installer {
  margin:0 10px;
  width:auto;
}

.b-snap__navigation {
  background-color:rgba(255,255,255,0.5);
  border-top:1px solid #efefef;
  border-bottom:1px solid #ddd;
  margin:0 0 1em 0;
}

.b-snap__navigation .b-layout__container {
  display: flex;
  align-items: center;
}

.b-snap__nav-item {
  min-width:120px;
  text-align: center;
  position:relative;
  display:block;
  color:#333;
  text-decoration:none;
  padding:15px 0;
}

.b-snap__nav-item[target="_blank"]::after {
  content: '';
  width:10px;
  height:10px;
  display:inline-block;
  vertical-align:super;
  background:transparent url("/public/images/external-link.svg") 0 0 no-repeat;
  background-size:10px 10px;
}

.b-snap__nav-item_active::before {
  position:absolute;
  content:'';
  background:#dd4814;
  bottom:0;
  left:0;
  right:0;
  height:3px;
}

.b-snap__tab-content {
  padding:1.3em 0;
}

.b-snap__details {
  margin:30px 10px 20px 10px;
}

@media screen and (min-width: 640px) {
  .b-icon-wrapper {
    margin-left:15px;
  }

  .b-snap__meta {
    margin-left:0;
  }

  .b-snap__details {
    margin-left:15px;
    margin-right:15px;
  }

  .b-snap__actions .b-installer {
    margin-left:auto;
    margin-right:15px;
    width:100px;
  }
}
