<div class="package-list">
  <% Y.Array.each(this, function (pkg) { %>
  <div class="pkg uninstalled" data-pkg="<%= pkg.name %>">
    <!-- 
    <img src="<%= pkg.icon_url %>" width=128 height=128 />
    -->
    <p class="pkg-name"><%= pkg.name %>
    <p class="pkg-title"><%= pkg.title %>
    <p class="pkg-publisher"><%= pkg.publisher %>
    <div class="switch thinking">
      <label for="<%= pkg.name %>">Checking status...</label>
      <input disabled type="checkbox" id="<%= pkg.name %>" />
      <div class="thing"></div>
    </div>
  </div>
  <% }); %>
</div>
